@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
@import "leaflet/dist/leaflet.css";


/* Add in your global.css or index.css */
.perspective {
  perspective: 1500px;
}
.backface-hidden {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes twinkle {
    0%, 100% { opacity: 0; transform: scale(0.8); }
    50% { opacity: 1; transform: scale(1); }
}
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 4s infinite ease-in-out;
}

@keyframes fall {
    to { transform: translateY(100vh); }
}
.raindrop {
    position: absolute;
    background: linear-gradient(to bottom, rgba(209, 213, 219, 0), rgba(209, 213, 219, 0.5));
    border-radius: 50%;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes intense-flash {
    0%, 100%, 55% { filter: brightness(1); opacity: 0; }
    50% { filter: brightness(2.5); opacity: 0.8; }
    51% { filter: brightness(1.2); opacity: 0.2; }
    52% { filter: brightness(2); opacity: 0.6; }
}
.lightning {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #e0f2fe;
    opacity: 0;
    animation: intense-flash 5s infinite steps(1, end);
}